<!doctype html>
<html lang="ja" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>iine</title>
  <style rel="stylesheet" type="text/css" href="style.css"></style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="script.js"></script>
  <style>
  body {
    text-align: center;
    margin-top: 200px;
  }
  input.ng-invalid {
    border: 1px solid rgb(26, 114, 230);
  }
  input:focus {
    background-color: rgb(255, 243, 221);
  }
  .btn {
    padding: 5px;
    background-color: #248;
    color: #fff;
    border-style: none;
  }
  .btn:hover {
    opacity: 0.8;
  }
  </style>
</head>
<body ng-controller="myCtrl as app">
  <form name="iineForm" novalidate>
    <input type="text" name="iine" ng-model="app.iineInput" required>
    <button class="btn" ng-click="app.click()" ng-disabled="iineForm.$invalid" ng-class"{'disabled': iineForm.$invalid}">いいね！</button>
  </form>

  <div ng-pluralize count="app.favs.length" offset="1"
    when="{
      '0': '[いいね！]されてません',
      '1': '{{app.favs[0]}}さんが[いいね！]と言っています',
      'one': '{{app.favs[0]}}さん、あと1名が[いいね！]と言っています。',
      'other': '{{app.favs[0]}}さん、他{}名が[いいね！]と言っています。'
    }"></div>
</body>
</html>
