@charset 'utf-8';

body {
  background: #eee;
}
div {
  margin: 200px 0;
  width: 200px;
  height: 100px;
  background: #fff;
  box-shadow: 10px 20px 4px 10px rgba(0, 0, 0, 0.4) inset, 10px 20px 4px 10px skyblue;
}
h1 {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
}
