@charset 'utf-8';

.wrapper {
  width: 512px;
  height: 512px;
  overflow: hidden;
  position: relative;
}
.wrapper .caption {
  font-size: 3rem;
  padding-top: 210px;
  text-align: center;
  color: #000;
}
.wrapper .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.wrapper:hover .mask {
  opacity: 1;
}
