#help_tips_pop {
  position: absolute;
  display: inline-block;
  margin-top: 15px;
  margin-left: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
}
