@charset 'utf-8';

.box {
  margin: 10px;
  padding: 10px;
  height: 80px;
  width: 80px;
  background-color: #0857aa;
  color: #fff;
  float: left;
}
.boxContainer {
  overflow: hidden;
  /* IR対策 */
  zoom: 1;
}
