@charset 'utf-8';

body {
  text-align: center;
  margin: 0;
  padding: 0;
}
#salan {
  margin: 0 auto;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#aaa));
  width: 100%;
  height: 500px;
  text-align: center;
}
#wrap {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

/* ice */
#ice {
  position: relative;
  z-index: 1;
}
.ice {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 0;
  border-radius: 0px;
  opacity: 0.7;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right bottom, from(white), color-stop(0.4, skyblue), color-stop(0.6, skyblue), to(white));
  border: 1px solid white;
}
.top {
  top: 100px;
}
.front {
  top: 166px;
  left: 21px;
}
.left {
  left: 0px;
}
.right {
  left: 101px;
}
.back {
  top: 135px;
  left: 80px;
}
.bottom {
  top: 201px;
}
.top,
.bottom {
  left: 50px;
  transform: scale(1, 0.3) skew(-30deg, 0);
}
.left,
.right {
  top: 150px;
  transform: scale(0.6, 1) skew(0, -17deg);
}

.top,
.front,
.right {
  z-index: 2;
}
.left,
.back,
.bottom {
  z-index: 1;
}
.front,
.back,
.left,
.right {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left bottom, left top, from(white), color-stop(0.5, transparent), to(transparent));
}
