@charset "utf-8";

div {
  border: 5px solid;
  border-radius: 40px;
  width: 200px;
  height: 200px;
}
.box {
  position:relative;
  margin: 50px auto;
  border-color: #08f;
}
.rotate {
  position: absolute;
  top: -5px;
  left: -5px;
  border-color: #f60;
  transform: rotate(10deg);
}
