@charset 'utf-8';

div {
  width: 200px;
  height: 200px;
  /*background-image: radial-gradient(skyblue, blue);*/
  /*background-image: radial-gradient(at 30px 40px, skyblue, blue);*/
  /*background-image: radial-gradient(ellipse 20px 30px at 30px 40px, skyblue, blue);*/
  /*background-image: radial-gradient(circle 20px at 30px 40px, skyblue, blue);*/
  /*background-image: radial-gradient(farthest-side at 30px 40px, skyblue, blue);*/
  background-image: repeating-radial-gradient(#a7cf03, #fff, #068b22 20px);
}
