body {
  margin-top: 100px;
  font-size: 2rem;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.btn {
  padding: 10px 30px;
  background-color:  #00adb5;
  color: #fff;
  font-size: 1.5rem;
  border-style: none;
  border-radius: 5px;
}
.hideWord {
  color: rgb(31, 204, 250);
  font-weight: bold;
  font-size: 3rem;
}
