@charset 'utf-8';

p {
  width: 200px;
  height: 60px;
  background-color: #18c668;
}
.visible {
  overflow: visible;
}
.scroll {
  overflow: scroll;
}
.hidden {
  overflow: hidden;
}
.auto {
  overflow: auto;
}
