<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>#6 study link_compile</title>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="reset.css">
</head>
<body>
  <!-- link -->
  <div class="wrap" ng-controller="CtrlLink">
    <p>link</p>
    <div my-link></div>
  </div>

  <!-- compile -->
  <div class="wrap" ng-controller="CtrlCompile">
    <p>compile</p>
    <div my-compile></div>
  </div>

  <!-- link-loop -->
  <div class="wrap" ng-controller="CtrlLinkLoop">
    <p>link - loop</p>
    <ul class="cf">
      <li my-link-loop ng-repeat="obj in list"></li>
    </ul>
  </div>

  <!-- link-compile -->
  <div class="wrap" ng-controller="CtrlCompileLoop">
    <p>compile - loop</p>
    <ul class="cf">
      <li my-compile-loop ng-repeat="obj in list"></li>
    </ul>
  </div>

  <hr>
  <p>参考：<a href="http://tsudoi.org/weblog/?p=2172">directiveメソッド、link関数とcompile関数の違い（基本）</a></p>


</body>
</html>
