@charset 'utf-8';

* {
  box-sizing: border-box;
}

.container {
  position: relative;
}
nav {
  position: absolute;
  left: 0px;
  width: 200px;
  border: 2px solid #c60366;
}
section {
  margin-left: 200px;
  border: 2px solid #1ec767;
  overflow: hidden;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: #333;
  color: #fff;
  width: 100%;
}
