@charset 'utf-8';

body {
  background: #ffe;
}
div {
  margin: 30px; auto;
  width: 400px;
  height: 250px;
  background: #fd9;
}
.normal {
  box-shadow: 5px 5px 5px #000;
}
.alpha {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.reverse {
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.5);
}
.long {
  box-shadow: 10px 10px 25px 15px rgba(0, 0, 0, 0.5);
}
.inner {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) inset;
}
