@charset "utf-8";

/*-------------------------
  base
-------------------------*/
html {
  font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-size: 2rem;
  color: #4A4A4A;
  font-family: Hiragino Sans,  Hiragino Kaku Gothic ProN,  Meiryo, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

/*-------------------------
  header
-------------------------*/
.global-nav {
  ul {
    position: absolute;
    z-index: 20;
    width: 1440px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #9B9B9B;
    opacity: 0.4;
  }
  li {
    float: left;
    width: 207px;
    height: 97px;
    margin: 0;
    padding: 0;
  }
  a{
  text-align: center;
  display: block;
  padding: 0.5em 0;
  width: 100%;
  color: #fff;
    &:hover {
    background-color: red;
    }
  }
}

.header {
  .title {
    display: none;
  }
  .mainVisual {
    height: 548px;
    position: relative;
    background: url('../img/main_visual.png') no-repeat left center;
    background-size: auto 100%;
  }

}

/*-------------------------
About
-------------------------*/
.about {
  padding-top: 177px;
  height: 1169 * 2px;
  background-color: #242830;
  color: #fff;
  .wrapper-title {
    text-align: center;
    .about-title {
      position: relative;
      display: inline-block;
      font-size: 4.2rem;
      padding-bottom: 10px;
      text-align: center;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        border-bottom: 2px solid #fff;
      }
    }
  }
  .wrapper {
    position: relative;
    padding: 100px 200px 0;
    height: 1169px;
  }
  .left {
    float: left;
    width: 50%;
    font-size: 2rem;
    &::before,
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .right {
    float: left;
    width: 50%;
    text-align: center;
  }
  .about-subtitle {
    font-size: 3.9rem;
    padding-bottom: 40px;
  }
  .timeline {
    padding: 100px 200px 0;
  }
}


/*-------------------------
Works
-------------------------*/
.works {
  height: 1169px;
  background-color: #fff;
  text-align: center;
  padding-top: 177px;
  .works-title {
    position: relative;
    display: inline-block;
    font-size: 4.2rem;
    padding-bottom: 10px;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 2px solid;
    }
  }
  .works-wrapper {
    display: inline-block;
    width: 100%;
    table-layout: fixed;
    padding-top: 100px;
    .works-box {
      display: inline-block;
    }
  }

}

/*-------------------------
Contact
-------------------------*/
.contact {
  padding-top:  177px;
  height: 1169px;
  background-color: #242830;
  color: #fff;
  text-align: center;
  .contact-title {
    position: relative;
    display: inline-block;
    font-size: 4.2rem;
    padding-bottom: 10px;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      border-bottom: 2px solid #fff;
    }
  }
  .contact-box {
    padding-top:  296px;
    list-style-type: none;
    margin: 0 auto;
    li {
      display: inline-block;
      width: 345px;
      height: 257px;
      a:hover::after {
        width: 100%;
      }
    }
  }
}

.github::after {
    content: '';
    display: block;
    width: 0;
    margin: 6px auto 0;
    border-bottom: 2px solid #4183c4;
    transition: width 0.3s ease-in-out;
}
.twitter::after {
    content: '';
    display: block;
    width: 0;
    margin: 6px auto 0;
    border-bottom: 2px solid #55acee;
    transition: width 0.3s ease-in-out;
}

.mail::after {
    content: '';
    display: block;
    width: 0;
    margin: 6px auto 0;
    border-bottom: 2px solid #d54b3d;
    transition: width 0.3s ease-in-out;
}

/*-------------------------
footer
-------------------------*/
.footer {
  height: 60px;
  background-color: #4A4A4A;
  color: #fff;
  text-align: center;
  p {
    padding: 20px;
    font-size: 2rem;
  }
}
