@charset "utf-8";

/*-------------------------
  base
-------------------------*/
html {
  font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-size: 2rem;
  color: #4A4A4A;
  font-family: Hiragino Sans,  Hiragino Kaku Gothic ProN,  Meiryo, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

// *-------------------------
//  header
// -------------------------*
.global-nav {
  ul {
    position: absolute;
    z-index: 1;
    width: 1440px;
    list-style-type: none;
    background-color: #9B9B9B;
    opacity: 0.43;
    margin: 0 auto;
  }
  li {
    display: table;
    float: left;
    width: 207px;
    height: 97px;
  }
  a{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 0.5em 0;
  width: 100%;
  color: #fff;
    &:hover {
      border-bottom: 3px solid #006BBF;
    }
    div {
      display: table;
      margin: 0 auto;
      img, span {
        display: table-cell;
        vertical-align: middle;
      }
      span {
        padding-left: 20px;
      }
    }
  }
}

.header {
  border: 1px solid #4A4A4A;
  .title {
    display: none;
  }
  .mainVisual {
    height: 548px;
    position: relative;
    background: url('../img/main_visual.png') no-repeat left center;
    background-size: auto 100%;
    margin-bottom: 61px;
  }
  .subtitle {
    font-size: 4rem;
    letter-spacing: 3px;
    padding-bottom: 11px;
    border-bottom: 3px solid #979797;
  }
  .header-content1
  ,.header-content2
  {
    width: 1102px;
    margin: 0 auto;
    img {
      float: right;
    }
    .header-description {
      margin-top: 33px;
      letter-spacing: 1.5px;
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .header-content2 {
    margin-top: 34px;
    margin-bottom: 48px;
  }

}



/*-------------------------
About
-------------------------*/
.about {
  padding-top: 177px;
  height: 1169 * 2px;
  background-color: #242830;
  color: #fff;
  .wrapper-title {
    text-align: center;
    .about-title {
      position: relative;
      display: inline-block;
      font-size: 4.2rem;
      padding-bottom: 10px;
      text-align: center;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        border-bottom: 2px solid #fff;
      }
    }
  }
  .wrapper {
    position: relative;
    padding: 100px 200px 0;
    height: 1169px;
  }
  .left {
    float: left;
    width: 50%;
    font-size: 2rem;
    &::before,
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .right {
    float: left;
    width: 50%;
    text-align: center;
  }
  .about-subtitle {
    font-size: 3.9rem;
    padding-bottom: 40px;
  }
  .timeline {
    padding: 100px 200px 0;
  }
}


/*-------------------------
Works
-------------------------*/
.works {
  border: 1px solid #4A4A4A;
  height: 1169px;
  background-color: #fff;
  text-align: center;
  padding-top: 177px;
  .works-title {
    position: relative;
    display: inline-block;
    font-size: 4.2rem;
    padding-bottom: 10px;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 2px solid;
    }
  }
  .works-wrapper {
    display: inline-block;
    width: 100%;
    table-layout: fixed;
    padding-top: 100px;
    .works-box {
      display: inline-block;
    }
  }

}

/*-------------------------
Contact
-------------------------*/
.contact {
  padding-top:  177px;
  height: 1169px;
  background-color: #242830;
  color: #fff;
  text-align: center;
  .contact-title {
    position: relative;
    display: inline-block;
    font-size: 4.2rem;
    padding-bottom: 10px;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      border-bottom: 2px solid #fff;
    }
  }
  .contact-box {
    padding-top:  296px;
    list-style-type: none;
    margin: 0 auto;
    li {
      display: inline-block;
      width: 345px;
      height: 257px;
      a:hover::after {
        width: 100%;
      }
    }
  }
}

.github::after {
    content: '';
    display: block;
    width: 0;
    margin: 6px auto 0;
    border-bottom: 2px solid #4183c4;
    transition: width 0.3s ease-in-out;
}
.twitter::after {
    content: '';
    display: block;
    width: 0;
    margin: 6px auto 0;
    border-bottom: 2px solid #55acee;
    transition: width 0.3s ease-in-out;
}

.mail::after {
    content: '';
    display: block;
    width: 0;
    margin: 6px auto 0;
    border-bottom: 2px solid #d54b3d;
    transition: width 0.3s ease-in-out;
}

/*-------------------------
footer
-------------------------*/
.footer {
  height: 60px;
  background-color: #4A4A4A;
  color: #fff;
  text-align: center;
  p {
    padding: 20px;
    font-size: 2rem;
  }
}
