.container {
  width: 500px;
  margin: 0 auto;
  /*background: pink;*/
}
header {
  background: tomato;
}
ul#menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0;
}
ul#menu > li {
  display: inline-block;
}
ul#menu > li > a {
  display: inline-block;
  width: 80px;
  height: 40px;
  background: orange;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}
ul#menu > li > a:hover {
  opacity: 0.5;
  transition: 0.8s;
}

main {
  background: skyblue;
  padding: 15px 0;
}
ul#lessons {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul#lessons h2,
ul#lessons p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 500px;
}
ul#lessons .lesson_img {
  float: left;
  width: 50px;
  margin-right: 10px;
}
ul#lessons .lesson_info {
  float: left;
  width: 440px;
}
ul#lessons li {
  overflow: hidden;
}
ul#lessons li:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
/*#left {
  background: limegreen;
  float: left;
  width: 180px;
  margin-right: 20px;
}
#right {
  background: lightgreen;
  float: left;
  width: 300px;
}*/
/*#left,
#right {
  padding: 10px;
  box-sizing: border-box;
}
#left {
  background: limegreen;
  float: left;
  width: 180px;
}
#right {
  background: lightgreen;
  float: right;
  width: 300px;
}*/
/*#left {
  background: limegreen;
  float: left;
  width: 100px;
}
#center {
  background: seagreen;
  float: left;
  width: 300px;
}
#right {
  background: lightgreen;
  float: right;
  width: 100px;
}*/
#left {
  background: limegreen;
  float: left;
  width: 100px;
  /*margin-right: 10px;*/
}
#right {
  /*background: lightgreen;*/
  margin-left: 100px;
}
main .product {
  position: relative;
  display: inline-block;
}
main .price {
  position: absolute;
  /*top: 0;*/
  /*right: 0;*/
  top: -5px;
  right: -5px;
  font-size: 10px;
  padding: 4px;
  font-weight: bold;
  background: white;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.clear {
  overflow: hidden;
}
footer {
  clear: both;
  background: slategray;
}
