@charset 'utf-8';

.gradient {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background: #444;
}
.gradient .text {
  padding: 20px;
  color: #fff;
  /* firefox用 */
  background: -moz-linear-gradient (top, rgba(60, 100, 50, 0.5), #066);
  /* safari chrome用 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 100, 50, 0.5)), to(#066));
}
