@charset 'utf-8';

div {
  max-width: 500px;
  margin: 20px auto;
  background-color: #3669b6;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fancy {
  padding: 50px;
  border: 10px solid #34c7db;
}
