@charset 'utf-8';

.wrap {
  background-color: #d4adff;
}
div {
  width: auto;
  height: 200px;
}
.opacity {
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
}
.rgba {
  background-color: rgba(255, 255, 255, 0.2);
}
