@charset 'utf-8';

div {
  width: 512px;
  height: 512px;
  background: skyblue url('logo.png');
  /*border-radius: 30px / 15px;*/
  /*border-bottom-right-radius: 30px;*/
  /*border-radius: 10px 20px 30px;*/
  border-radius: 50%;
}
