@charset "utf-8";

.shutter {
  position: relative;
  overflow: hidden;
  width: 512px;
  line-height: 0;
  text-align: center;
}
.shutter div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  cursor: pointer;
}
.shutter h1 {
  position: relative;
  margin: 0;
  padding: 0 5px;
  font-size: 3rem;
  line-height: 1.5;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.shutter h1 a {
  color: #fff;
  text-decoration: none;
}
.shutter img {
  border: none;
}
.shutter:hover div {
  left: -100%;
}
