/*-------------------------
  base
-------------------------*/
html {
  font-size: 62.5%; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  font-size: 2rem;
  color: #4A4A4A;
  font-family: Hiragino Sans,  Hiragino Kaku Gothic ProN,  Meiryo, sans-serif;
  max-width: 1440px;
  margin: 0 auto; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.global-nav ul {
  position: absolute;
  z-index: 1;
  width: 1440px;
  list-style-type: none;
  background-color: #9B9B9B;
  opacity: 0.43;
  margin: 0 auto; }

.global-nav li {
  display: table;
  float: left;
  width: 207px;
  height: 97px; }

.global-nav a {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 0.5em 0;
  width: 100%;
  color: #fff; }
  .global-nav a:hover {
    margin-bottom: -5px;
    border-bottom: 5px solid #006BBF; }
  .global-nav a div {
    display: table;
    margin: 0 auto; }
    .global-nav a div img, .global-nav a div span {
      display: table-cell;
      vertical-align: middle; }
    .global-nav a div span {
      padding-left: 20px; }

.header {
  border: 1px solid #4A4A4A; }
  .header .title {
    display: none; }
  .header .mainVisual {
    height: 548px;
    position: relative;
    background: url("../img/main_visual.png") no-repeat left center;
    background-size: auto 100%;
    margin-bottom: 61px; }
  .header .subtitle {
    font-size: 4rem;
    letter-spacing: 3px;
    padding-bottom: 11px;
    border-bottom: 3px solid #979797; }
  .header .header-content1
, .header .header-content2 {
    width: 1102px;
    margin: 0 auto; }
    .header .header-content1
img, .header .header-content2 img {
      float: right; }
    .header .header-content1
.header-description, .header .header-content2 .header-description {
      margin-top: 33px;
      letter-spacing: 1.5px; }
    .header .header-content1::after
, .header .header-content2::after {
      content: "";
      display: block;
      clear: both; }
  .header .header-content2 {
    margin-top: 34px;
    margin-bottom: 48px; }

/*-------------------------
About
-------------------------*/
.about {
  padding-top: 177px;
  height: 2338px;
  background-color: #242830;
  color: #fff; }
  .about .wrapper-title {
    text-align: center; }
    .about .wrapper-title .about-title {
      position: relative;
      display: inline-block;
      font-size: 4.2rem;
      padding-bottom: 10px;
      text-align: center; }
      .about .wrapper-title .about-title::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        border-bottom: 2px solid #fff; }
  .about .wrapper {
    position: relative;
    padding: 100px 200px 0;
    height: 1169px; }
  .about .left {
    float: left;
    width: 50%;
    font-size: 2rem; }
    .about .left::before, .about .left::after {
      content: '';
      display: block;
      clear: both; }
  .about .right {
    float: left;
    width: 50%;
    text-align: center; }
  .about .about-subtitle {
    font-size: 3.9rem;
    padding-bottom: 40px; }
  .about .timeline {
    padding: 100px 200px 0; }

/*-------------------------
Works
-------------------------*/
.works {
  border: 1px solid #4A4A4A;
  height: 1169px;
  background-color: #fff;
  text-align: center;
  padding-top: 177px; }
  .works .works-title {
    position: relative;
    display: inline-block;
    font-size: 4.2rem;
    padding-bottom: 10px; }
    .works .works-title::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 2px solid; }
  .works .works-wrapper {
    display: inline-block;
    width: 100%;
    table-layout: fixed;
    padding-top: 100px; }
    .works .works-wrapper .works-box {
      display: inline-block; }

/*-------------------------
Contact
-------------------------*/
.contact {
  padding-top: 177px;
  height: 1169px;
  background-color: #242830;
  color: #fff;
  text-align: center; }
  .contact .contact-title {
    position: relative;
    display: inline-block;
    font-size: 4.2rem;
    padding-bottom: 10px; }
    .contact .contact-title::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      border-bottom: 2px solid #fff; }
  .contact .contact-box {
    padding-top: 296px;
    list-style-type: none;
    margin: 0 auto; }
    .contact .contact-box li {
      display: inline-block;
      width: 345px;
      height: 257px; }
      .contact .contact-box li a:hover::after {
        width: 100%; }

.github::after {
  content: '';
  display: block;
  width: 0;
  margin: 6px auto 0;
  border-bottom: 2px solid #4183c4;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out; }

.twitter::after {
  content: '';
  display: block;
  width: 0;
  margin: 6px auto 0;
  border-bottom: 2px solid #55acee;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out; }

.mail::after {
  content: '';
  display: block;
  width: 0;
  margin: 6px auto 0;
  border-bottom: 2px solid #d54b3d;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out; }

/*-------------------------
footer
-------------------------*/
.footer {
  height: 60px;
  background-color: #4A4A4A;
  color: #fff;
  text-align: center; }
  .footer p {
    padding: 20px;
    font-size: 2rem; }
