<form name="itemForm" novalidate>
  <p>タイトル*</p>
  <input type="text" name="item" ng-model="article.item.title" required>
  <p>本文*</p>
  <textarea type="text" name="item" ng-model="article.item.text" required></textarea>
  <p>*は必須入力です</p>
  <button ng-click="article.store()" ng-disabled="itemForm.$invalid">投稿！</button>
</form>

<ul>
  <li ng-repeat="item in article.list | orderBy: '-date'">
    <h2>{{item.title}}</h2>
    <p>(投稿時間:{{item.date | date: 'yyyy/mm/dd HH:mm:ss'}})</p>
    <p>{{item.text}}</p>
  </li>
</ul>
