<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>#23 chat with milkcocoa and AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://cdn.mlkcca.com/v2.0.0/milkcocoa.js"></script>
    <script src="chat.js"></script>
  </head>
  <body ng-app="chatApp">
    <div ng-controller="chatCtrl">
      <input type="text" size="10" ng-model="user" placeholder="ユーザー名"><br>
      <input type="text" size="30" ng-model="msg" placeholder="メッセージを入力">
      <button name="button" ng-click="sendMes()">送信</button>

      <p>参考：
        <a href="http://masatolan.com/programming/milkcocoa-and-angularjs/">「AngularJS」と「milkcocoa」で、簡単なチャットアプリを作ってみた！</a>
      </p>

      <ul ng-repeat="msgbox in msgBoxes">
        <li>
          {{msgbox.value.name}}: {{msgbox.value.text}}

          <!-- $indexはng-repeatのインデックス番号を表す。 -->
          <button ng-click="deleteMes($index)">削除</button>
        </li>
      </ul>
    </div>
  </body>
</html>
