@charset 'utf-8';

.border {
  margin: 10px;
  padding: 20px;
  border: 1px solid #333;
}
.border-red {
  margin: 30px;
  padding: 40px;
  border: 3px solid #e3065c;
}
.none {
  -webkit-font-smoothing: none;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
}
.subpixel-antialiased {
  -webkit-font-smoothing: subpixel-antialiased;
}
.grayscale {
  -moz-osx-font-smoothing: grayscale;
}
.auto {
  -moz-osx-font-smoothing: auto;
}
