<!doctype html>
<html lang="ja" ng-app="sampleApp">
<head>
  <meta charset="UTF-8">
  <title>componentTest</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>
<body>

  <counter></counter>
</body>
<script>
  (function() {
    angular.module('sampleApp', [])
      .component('counter', {
        bindings: {
          count: '='
        },
        controller: function() {
          function increment() {
            this.count++;
          }
          function decrement() {
            this.count--;
          }
          this.increment = increment;
          this.decrement = decrement;
        },
        template: [
          '<div class="todo">',
            '<input type="text" ng-model="counter.count">',
            '<button type="button" ng-click="counter.decrement();">-</button>',
            '<button type="button" ng-click="counter.increment();">+</button>',
          '</div>'
        ].join('')
      });
  })();
</script>
</html>
