@charset 'utf-8';

.outer {
  position: relative;
  background-color: #333;
  margin: 100px auto;
}
.inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  /*margin-right: -100px;*/
  margin-top: -100px;
  background-color: #21623b;
  color: #fff;
}
#main {
  position: absolute;
  top: 200px;
  width: 480px;
  padding: 10px;
  border-bottom: 2px solid #ccc;
  /*margin-bottom: 20px;*/
}
#main h2 {
  font-size: 133.3%;
  padding: 5px 10px;
  border-bottom: 2px solid #999;
  margin: 0 -10px 10px;
}
#main p {
  margin-bottom: 1em;
}
