<!doctype html>
<html lang="ja" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>#22 ATND search with AngularJS</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="app.js"></script>
  <style>
  ul {
    list-style: none;
    padding: 0;
  }
  </style>
</head>
<body>
  <h1>ATND search</h1>
  <div ng-controller="mainCtrl as $ctrl">
    <form ng-submit="$ctrl.doSearch()" name="myForm">
      <input type="text" ng-model="$ctrl.query" required>
      <input type="submit" value="search" ng-disabled="myForm.$invalid">
    </form>

    <h2>Results</h2>
    <ul ng-show="$ctrl.results.length">
      <li ng-repeat="result in $ctrl.results">
          {{result}}
      </li>
    </ul>

    <p ng-hide="$ctrl.results.length">検索結果はconsole.logを見れば、見れます、、、。</p>

  </div>
</body>
</html>
