@charset 'utf-8';

.marker-yellow {
  background: linear-gradient(transparent 60%, #ffff66 60%);
}
.marker-green {
  background: linear-gradient(transparent 60%, #66ffcc 60%);
}
.marker-blue {
  background: linear-gradient(transparent 60%, #66ccff 60%);
}
.marker-pink {
  background: linear-gradient(transparent 60%, #ff66ff 60%);
}

/* 太ペン */
.marker-yellow-b {
  background: linear-gradient(transparent 0%, #ffff66 0%);
}
.marker-green-b {
  background: linear-gradient(transparent 0%, #66ffcc 0%);
}
.marker-blue-b {
  background: linear-gradient(transparent 0%, #66ccff 0%)
}
.marker-pink-b {
  background: linear-gradient(transparent 0%, #ff66ff 0%);
}
