@charset 'utf-8';

.clear-glass {
  background: #e6f1f7;
  background-image: linear-gradient(to bottom, #fff, #e6f1f7, #bad4e2);
  padding: 0.5em;
  font-size: 1.25em;
  position: relative;
}
.clear-glass::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.clear-glass::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: rgba(0, 0, 0, 0.1);
}
